@import "tailwindcss";

@theme {
  --font-sans: "Myriad Pro", "Gotham", var(--font-inter), sans-serif;
  --font-serif: "Times LT Std", "Times New Roman", Times, var(--font-playfair), serif;
  --font-mono: var(--font-geist-mono);
  
  --color-nebula: #0B0B1A;
  --color-bio-green: #e3e3e3;
  --color-electric-cyan: #ffffff;
  
  --color-brand-gray: #292e35;
  --color-brand-cream: #e3e3e3;
}

@layer utilities {
  .glass-card {
    @apply bg-black/40 backdrop-blur-xl border border-white/10 rounded-3xl p-8 shadow-2xl;
  }
}

body {
  background-color: var(--color-nebula);
  color: white;
  overflow-x: hidden;
}

/* Custom scrollbar hiding */
::-webkit-scrollbar {
  display: none;
}
